<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Lista de VHS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1>Lista de VHS</h1>
        <table class="table table-striped table-bordered mt-3">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Categoria</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="vhs : ${listaVHS}">
                <td th:text="${vhs.id}"></td>
                <td th:text="${vhs.titulo}"></td>
                <td th:text="${vhs.descricao}"></td>
                <td th:text="${vhs.categoria != null ? vhs.categoria.nome : 'Sem categoria'}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
